<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.mnt.persistence.device.WsnRfidMapper">

    <resultMap id="WsnRfidResultMap" type="com.ai.mnt.model.device.WsnRfid">
        <id column="rfid_id" property="rfidId" />
        <result column="rfid_sequence" property="rfidSequence" />
        <result column="rfid_bind_number" property="rfidBindNumber" />
        <result column="rfid_desc" property="rfidDesc" />
        <result column="rfid_type" property="rfidType" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="creator" property="creator" />
        <result column="create_date" property="createDate" />
        <result column="modifier" property="modifier" />
        <result column="modify_date" property="modifyDate" />
    </resultMap>

    <sql id="WsnRfidColumns">
        rfid_id,
        rfid_sequence,
        rfid_bind_number,
        rfid_desc,
        rfid_type,
        delete_flag,
        creator,
        create_date,
        modifier,
        modify_date
    </sql>

    <insert id="save" useGeneratedKeys="true" keyProperty="rfidId">
        insert into wsn_rfid (
        rfid_sequence,
        rfid_bind_number,
        rfid_desc,
        rfid_type,
        delete_flag,
        creator,
        create_date,
        modifier,
        modify_date
        )
        values (
        #{rfidSequence},
        #{rfidBindNumber},
        #{rfidDesc},
        #{rfidType},
        #{deleteFlag},
        #{creator},
        #{createDate},
        #{modifier},
        #{modifyDate}
        )
    </insert>

    <insert id="saveAll">
        insert into wsn_rfid (
        rfid_sequence,
        rfid_bind_number,
        rfid_desc,
        rfid_type,
        delete_flag,
        creator,
        create_date,
        modifier,
        modify_date
        )
        values
        <foreach item="item" collection="list" separator=",">
            (
            #{item.rfidSequence},
            #{item.rfidBindNumber},
            #{item.rfidDesc},
            #{item.rfidType},
            #{item.deleteFlag},
            #{item.creator},
            #{item.createDate},
            #{item.modifier},
            #{item.modifyDate}
            )
        </foreach>
    </insert>

    <delete id="deleteByPrimaryKey">
        delete from wsn_rfid
        where
        rfid_id = #{rfidId}
    </delete>

    <delete id="deleteList">
        delete from wsn_rfid
        where rfid_id in
        <foreach item="item" collection="list" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <update id="updateByPrimaryKey">
        update wsn_rfid
        <set>
            <if test="rfidSequence != null">
                rfid_sequence = #{rfidSequence},
            </if>
            <if test="rfidBindNumber != null">
                rfid_bind_number = #{rfidBindNumber},
            </if>
            <if test="rfidDesc != null">
                rfid_desc = #{rfidDesc},
            </if>
            <if test="rfidType != null">
                rfid_type = #{rfidType},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
            <if test="creator != null">
                creator = #{creator},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="modifier != null">
                modifier = #{modifier},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate}
            </if>
        </set>
        where
        rfid_id = #{rfidId}
    </update>

    <select id="findByPrimaryKey" resultMap="WsnRfidResultMap">
        select
        <include refid="WsnRfidColumns" />
        from wsn_rfid
        where rfid_id = #{rfidId}
    </select>

    <select id="findList" resultMap="WsnRfidResultMap">
        select
        <include refid="WsnRfidColumns" />
        from wsn_rfid
        <where>
            <if test="rfidId != null">
                rfid_id = #{rfidId}
            </if>
            <if test="rfidSequence != null and rfidSequence != ''">
                and rfid_sequence = #{rfidSequence}
            </if>
            <if test="rfidBindNumber != null and rfidBindNumber != ''">
                and rfid_bind_number = #{rfidBindNumber}
            </if>
            <if test="rfidDesc != null and rfidDesc != ''">
                and rfid_desc = #{rfidDesc}
            </if>
            <if test="rfidType != null and rfidType != ''">
                and rfid_type = #{rfidType}
            </if>
            <if test="deleteFlag != null and deleteFlag != ''">
                and delete_flag = #{deleteFlag}
            </if>
            <if test="creator != null and creator != ''">
                and creator = #{creator}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="modifier != null and modifier != ''">
                and modifier = #{modifier}
            </if>
            <if test="modifyDate != null">
                and modify_date = #{modifyDate}
            </if>
        </where>
    </select>

    <select id="findAll" resultMap="WsnRfidResultMap">
        select
        <include refid="WsnRfidColumns" />
        from wsn_rfid
    </select>
    
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    
</mapper>