<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.mnt.persistence.device.WsnDevRfidMapper">

    <resultMap id="WsnDevRfidResultMap" type="com.ai.mnt.model.device.WsnDevRfid">
        <id column="rf_dev_id" property="rfDevId" />
        <result column="rfid_id" property="rfidId" />
        <result column="device_id" property="deviceId" />
    </resultMap>

    <sql id="WsnDevRfidColumns">
        rf_dev_id,
        rfid_id,
        device_id
    </sql>

    <insert id="save" useGeneratedKeys="true" keyProperty="rfDevId">
        insert into wsn_dev_rfid (
        rfid_id,
        device_id
        )
        values (
        #{rfidId},
        #{deviceId}
        )
    </insert>

    <insert id="saveAll">
        insert into wsn_dev_rfid (
        rfid_id,
        device_id
        )
        values
        <foreach item="item" collection="list" separator=",">
            (
            #{item.rfidId},
            #{item.deviceId}
            )
        </foreach>
    </insert>

    <delete id="deleteByPrimaryKey">
        delete from wsn_dev_rfid
        where
        rf_dev_id = #{rfDevId}
    </delete>

    <delete id="deleteList">
        delete from wsn_dev_rfid
        where rf_dev_id in
        <foreach item="item" collection="list" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <update id="updateByPrimaryKey">
        update wsn_dev_rfid
        <set>
            <if test="rfidId != null">
                rfid_id = #{rfidId},
            </if>
            <if test="deviceId != null">
                device_id = #{deviceId}
            </if>
        </set>
        where
        rf_dev_id = #{rfDevId}
    </update>

    <select id="findByPrimaryKey" resultMap="WsnDevRfidResultMap">
        select
        <include refid="WsnDevRfidColumns" />
        from wsn_dev_rfid
        where rf_dev_id = #{rfDevId}
    </select>

    <select id="findList" resultMap="WsnDevRfidResultMap">
        select
        <include refid="WsnDevRfidColumns" />
        from wsn_dev_rfid
        <where>
            <if test="rfDevId != null">
                rf_dev_id = #{rfDevId}
            </if>
            <if test="rfidId != null">
                and rfid_id = #{rfidId}
            </if>
            <if test="deviceId != null">
                and device_id = #{deviceId}
            </if>
        </where>
    </select>

    <select id="findAll" resultMap="WsnDevRfidResultMap">
        select
        <include refid="WsnDevRfidColumns" />
        from wsn_dev_rfid
    </select>
    
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    
</mapper>